# Browser Type
# Browser = InternetExplorer
# Browser = FireFox
 Browser = Chrome

# Launched URL
URL = http://10.1.25.126:8080/secure/Dashboard.jspa
DEFAULT_WAITED_TIME = 30
JiraMainTile = System Dashboard - Your Company JIRA
JiraLogoutTile = Logout - Your Company JIRA
ScreenPath = screenShot
AttachementFile = d:\\tmp\\test.png
DefaultUser = admin
DefaultPassword = admin
# FIREFOX_PATH = C:/Program Files/Mozilla Firefox/firefox.exe
FIREFOX_PATH = D:/Program Files/Mozilla Firefox/firefox.exe