<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

 <suite name="Suite" parallel="methods" > 
	<listeners>
		<listener class-name="com.wonders.core.TestngListener" />
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="org.testng.reporters.SuiteHTMLReporter" />
	</listeners>
	<test name="Test">
		<parameter name="jiraVer" value="v5.0.7" />
		<groups>
			<run>
				<include name="checkVer" />
				<include name="test2" />
			</run>
		</groups>
		<packages>
			<package name="com.wonders.*" />
		</packages>
		<!-- <classes> <class name="com.wonders.testcases.issueFields.TC_JIRA_ISSUE_005"> 
			<methods> <include name="JIRA_ISSUE_005" /> </methods> </class> </classes> -->
	</test> <!-- Test -->
</suite> <!-- Suite -->
